<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marieanthonette.tan.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LogIn"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".EmailSignup"
            android:label="Sign Up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".profile"
            android:label="Profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".host"
            android:label="Host"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".victim"
            android:label="Victim"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AddShelter"
            android:label="Add Shelter"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".DisplayShelters"
            android:label="Shelter List"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".DisplaySingleShelter"
            android:label="Shelter"></activity>
        <activity
            android:name=".Home"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>